In [1]:
from datasets import Dataset
from huggingface_hub import HfApi
from datasets import load_dataset
import pandas as pd

ModuleNotFoundError: No module named 'datasets'

## Load HF Datasets

In [2]:
book_genres = load_dataset("ada-datadruids/book_genres")
wiki_book_movie_ids_matching = load_dataset("ada-datadruids/wiki_book_movie_ids_matching")
TMDB_movie_dataset_reduced = load_dataset("ada-datadruids/TMDB_movie_dataset_reduced")
plot_summaries = load_dataset("ada-datadruids/plot_summaries")
movies = load_dataset("ada-datadruids/movies")
movie_metadata = load_dataset("ada-datadruids/movie-metadata")
merged_movies_books_cleaned = load_dataset("ada-datadruids/merged_movies_books_cleaned")
CPIAUCNS = load_dataset("ada-datadruids/CPIAUCNS")
booksummaries_cleaned = load_dataset("ada-datadruids/booksummaries_cleaned")
booksmovies = load_dataset("ada-datadruids/booksmovies")
books = load_dataset("ada-datadruids/books")
bookfilm_summaries_with_similarity_and_sentiment = load_dataset("ada-datadruids/bookfilm_summaries_with_similarity_and_sentiment")

## Refactor Datasets to Dataframes

In [3]:
book_genres_df = book_genres['train'].to_pandas()
wiki_book_movie_ids_matching_df = wiki_book_movie_ids_matching['train'].to_pandas()
TMDB_movie_dataset_reduced_df = TMDB_movie_dataset_reduced['train'].to_pandas()
plot_summaries_df = plot_summaries['train'].to_pandas()
movies_df = movies['train'].to_pandas()
movie_metadata_df = movie_metadata['train'].to_pandas()
merged_movies_books_cleaned_df = merged_movies_books_cleaned['train'].to_pandas()
CPIAUCNS_df = CPIAUCNS['train'].to_pandas()
booksummaries_cleaned_df = booksummaries_cleaned['train'].to_pandas()
booksmovies_df = booksmovies['train'].to_pandas()
books_df = books['train'].to_pandas()
bookfilm_summaries_with_similarity_and_sentiment_df = bookfilm_summaries_with_similarity_and_sentiment['train'].to_pandas()

## Display Dataframes

In [4]:
book_genres_df.to_csv('../../data/book_genres.csv', index=False)
wiki_book_movie_ids_matching_df.to_csv('../../data/wiki_book_movie_ids_matching.csv', index = False)
TMDB_movie_dataset_reduced_df.to_csv('../../data/TMDB_movie_dataset_reduced.csv', index=True)
plot_summaries_df.to_csv('../../data/plot_summaries.csv', index=True)
movies_df.to_csv('../../data/movies.csv', index=True)
movie_metadata_df.to_csv('../../data/movie_metadata.tsv','\t', index=True)
merged_movies_books_cleaned_df.to_csv('../../data/merged_movies_books_cleaned.csv', index=True)
CPIAUCNS_df.to_csv('../../data/CPIAUCNS.csv', index=True)
booksummaries_cleaned_df.to_csv('../../data/booksummaries_cleaned.csv', index=True)
bookfilm_summaries_with_similarity_and_sentiment_df.to_csv('../../data/bookfilm_summaries_with_similarity_and_sentiment.csv', index=True)
books_df.to_csv('../../data/books.csv', index=True)
booksmovies_df.to_csv('../../data/booksmovies.csv', index=True)

   book_id           genre  possible_filter
0   915001         Fiction                0
1   915001  Womens Fiction                1
2   915001           Drama                0
3   915001         Romance                1
4  7199539      Historical                1

,index,id,BookTitle,BookYear,Author,FilmTitle,FilmYear,full name,tmdb_id,id_goodreads,imdbid
0,0,3,De Aanslag,1982,Harry Mulisch,The Assault,1986,The Assault 1986,2753,1964904,tt0090576
1,1,4,About a Boy,1998,Nick Hornby,About a Boy,2002,About a Boy 2002,245,2770004,tt0276751
2,2,5,About Schmidt,1996,Louis Begley,About Schmidt,2002,About Schmidt 2002,2755,908745,tt0257360
3,3,6,Absolute Power,1996,David Baldacci,Absolute Power,1997,Absolute Power 1997,66,760769,tt0118548
4,4,7,The Accidental Tourist,1985,Anne Tyler,The Accidental Tourist,1988,The Accidental Tourist 1988,31052,60792,tt0094606

   Unnamed: 0     imdbid     revenue
0           0  tt1375666   825532764
1           1  tt0816692   701729206
2           2  tt0468569  1004558444
3           3  tt0499549  2923706026
4           4  tt0848228  1518815515

                                                text
0  23890098\tShlykov, a hard-working taxi driver ...
1  31186339\tThe nation of Panem consists of a we...
2  20663735\tPoovalli Induchoodan  is sentenced f...
3  2231378\tThe Lemon Drop Kid , a New York City ...
4  595909\tSeventh-day Adventist Church pastor Mi...

,imdbid,book_id,title,author,year,full_name,budget,revenue,runtime,poster_path,rating_average,vote_count,standardized_rating,normalized_rating,goodreads_scale_rating
0,tt0090576,1964904.0,De Aanslag,Harry Mulisch,1986.0,The Assault 1986,0,203781,124.0,/roLUdrbcpFiWjIqs2NbpItR74KE.jpg,7.3,2823.0,0.768571,0.732394,3.65
1,tt0276751,2770004.0,About a Boy,Nick Hornby,2002.0,About a Boy 2002,27000000,129000000,101.0,/1kz4Q2v7cxwNnTfkjrujzWAVCne.jpg,7.1,158912.0,0.570745,0.704225,3.55
2,tt0257360,908745.0,About Schmidt,Louis Begley,2002.0,About Schmidt 2002,30000000,105834556,125.0,/riJV5Bq0IXItG3ceywNWkw7il7K.jpg,7.2,116379.0,0.669658,0.718310,3.60
3,tt0118548,760769.0,Absolute Power,David Baldacci,1997.0,Absolute Power 1997,50000000,50068310,121.0,/oJQdp09Oc51DkArsMDvgDLdWiDu.jpg,6.7,45519.0,0.175092,0.647887,3.35
4,tt0094606,60792.0,The Accidental Tourist,Anne Tyler,1988.0,The Accidental Tourist 1988,0,0,121.0,/dyk2BqPajLRBpVQ6jsSJJdgfuXe.jpg,6.8,13738.0,0.274005,0.661972,3.40

,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science Fiction"", ""/m/03npn"": ""Horror"", ""/m/03k9fj"": ""Adventure"", ""/m/0fdjb"": ""Supernatural"", ""/m/02kdv5l"": ""Action"", ""/m/09zvmj"": ""Space western""}"
0,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
1,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
2,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
3,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
4,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen..."

,Unnamed: 0,movie_id,movie_cluster,movie_name,release_date,budget,runtime_x,language,country,genres,...,index,id,BookTitle,BookYear,Author,full name,tmdb_id,id_goodreads,imdbid,runtime_y
0,0,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",...,1279,1855,Mary Poppins,1934,P. L. Travers,Mary Poppins 1964,433,152380,tt0058331,139.0
1,1,1369204,/m/04x8zs,Juarez,1939,NaN,125.0,"{""/m/02h40lc"": ""English Language"", ""/m/06nm1"":...","{""/m/09c7w0"": ""United States of America""}","{""/m/04xvh5"": ""Costume drama"", ""/m/03bxz7"": ""B...",...,1504,2217,The Phantom Crown: The Story of Maximilian & C...,1934,0,Juarez 1939,78318,10546105,tt0031516,125.0
2,2,164388,/m/015wmt,The Great Santini,1979-10-26,4702575.0,115.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02h8pkk"": ""Family Drama"", ""/m/07s9rl0"": ""...",...,883,1253,The Great Santini,1976,Pat Conroy,The Great Santini 1979,21887,1110004,tt0079239,115.0
3,3,19095614,/m/04yc5nd,The Castle,1968,NaN,88.0,"{""/m/04306rv"": ""German Language""}","{""/m/082fr"": ""West Germany""}","{""/m/02n4kr"": ""Mystery"", ""/m/07s9rl0"": ""Drama""}",...,395,564,The Castle,1926,Franz Kafka,The Castle 1968,197962,152864,tt0063563,93.0
4,4,13613357,/m/03cbvzw,Grand Canary,1934-07-20,NaN,78.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02l7c8"": ""Romance Film"", ""/m/07s9rl0"": ""D...",...,867,1229,Grand Canary,1933,A. J. Cronin,Grand Canary 1934,432684,37941573,tt0025196,78.0

         DATE  CPIAUCNS
0  1913-01-01       9.8
1  1913-02-01       9.8
2  1913-03-01       9.8
3  1913-04-01       9.8
4  1913-05-01       9.7

,Id,Code,Title,Author,Data,Genres,Summary
0,620,/m/0hhy,Animal Farm,George Orwell,8/17/1945,"{""/m/016lj8"": ""Roman \u00e0 clef"", ""/m/06nbt"":...","Old Major, the old boar on the Manor Farm, ca..."
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"{""/m/06n90"": ""Science Fiction"", ""/m/0l67h"": ""N...","Alex, a teenager living in near-future Englan..."
2,986,/m/0ldx,The Plague,Albert Camus,1947,"{""/m/02m4t"": ""Existentialism"", ""/m/02xlf"": ""Fi...",The text of The Plague is divided into five p...
3,1756,/m/0sww,An Enquiry Concerning Human Understanding,David Hume,None,None,The argument of the Enquiry proceeds by a ser...
4,2080,/m/0wkt,A Fire Upon the Deep,Vernor Vinge,None,"{""/m/03lrw"": ""Hard science fiction"", ""/m/06n90...",The novel posits that space around the Milky ...

,id,BookTitle,BookAltTitle,BookYear,BookLink,Author,FilmTitle,FilmLink,FilmYear,ISBN
0,0,The A.B.C. Murders,None,1936,/wiki/The_A.B.C._Murders,Agatha Christie,The Alphabet Murders,/wiki/The_Alphabet_Murders,1966,978-1-57912-624-7
1,1,The A.B.C. Murders,None,1936,/wiki/The_A.B.C._Murders,Agatha Christie,The A.B.C. Murders,/wiki/List_of_Agatha_Christie%27s_Poirot_episo...,1992,978-1-57912-624-7
2,2,À ton image,None,1998,None,Louise L. Lambrichs,À ton image,/wiki/%C3%80_ton_image,2004,None
3,3,De Aanslag,The Assault,1982,/wiki/De_Aanslag,Harry Mulisch,The Assault,/wiki/The_Assault_(film),1986,0-394-54245-2
4,4,About a Boy,None,1998,/wiki/About_a_Boy_(novel),Nick Hornby,About a Boy,/wiki/About_a_Boy_(film),2002,0-575-06159-6

,book_id,title,year,avg_rating,rating_count,review_count,series,series_num,author,description,length,five_stars,four_stars,three_stars,two_stars,one_star,cover_image,standardized_rating,normalized_rating
0,1964904.0,The Assault,1982,3.71,9367.0,390.0,None,None,Harry Mulisch,"It is the winter of 1945, the last dark days o...",185.0,1736.0,4093.0,2734.0,648.0,156.0,https://images.gr-assets.com/books/1547811518l...,-0.471058,0.570000
1,2770004.0,About A Boy,1998,3.80,117323.0,3027.0,None,None,Nick Hornby,'How cool was Will Freeman'Too cool! At thirty...,286.0,24807.0,51876.0,33618.0,5850.0,1172.0,https://images.gr-assets.com/books/1347049451l...,-0.158221,0.600000
2,1171639.0,Adams Fall,2000,3.28,88.0,12.0,None,None,Sean Desmond,With the fall of his senior year at the Colleg...,272.0,15.0,22.0,31.0,13.0,7.0,https://images.gr-assets.com/books/1311998318l...,-1.965724,0.426667
3,56649.0,The Adventurers,1966,3.87,1313.0,51.0,None,None,Harold Robbins,From the author of The New York Times #1 best-...,712.0,389.0,486.0,340.0,80.0,18.0,https://images.gr-assets.com/books/1411687302l...,0.085097,0.623333
4,41096625.0,The Adventures of Hajji Baba of Ispahan,1824,4.29,7.0,2.0,None,None,James Justinian Morier,The Adventures of Hajji Baba of Ispahan by Jam...,750.0,3.0,3.0,1.0,0.0,0.0,https://images.gr-assets.com/books/1534260697l...,1.545003,0.763333

,movie_id,book_title,movie_name,book_summary,film_summary,similarity,film_sentiment,film_sentiment_score,book_sentiment,book_sentiment_score
0,196176,The Siege of Trencher's Farm,Straw Dogs,"George Magruder, an American professor of Eng...","David Sumner , a timid American mathematician,...",0.451876,positive,0.333608,positive,0.994480
1,6703617,Journey to the West,The Forbidden Kingdom,The novel has 100 chapters. These can be divi...,"In this film, which is based loosely on the an...",0.559594,positive,0.995482,positive,0.995404
2,24416479,The Beast Master,Beastmaster 2: Through the Portal of Time,"It tells the story of Hosteen Storm, an ex-so...","Dar, the Beastmaster , is back and now he has ...",0.344548,positive,0.997562,positive,0.998812
3,9384481,The Blessing,Count Your Blessings,It is set in the post-war World War II period...,While visiting Grace Allingham in wartime Lond...,0.669707,positive,0.996070,positive,0.996607
4,22224559,The Last Song,The Last Song,Veronica “Ronnie” Miller’s life was turned up...,"At seventeen, Veronica ""Ronnie"" Miller remain...",0.852735,positive,0.978184,positive,0.998164